<div class="bg-secondary">
  <div class="d-flex flex-row justify-content-between">
    <h4> <%= "#{@post.title} by #{@post.user.name}" %></h4>
    <p><%= "Comments: #{@post.comments.size}, Likes: #{@post.likes.size}" %></p>
  </div>
  <p>
    <%= @post.text %>
  </p>
</div>

<%= render partial: "shared/comments", locals: {comments: @post.comments} %>